@charset "UTF-8";
/* CSS Document */

body{
	background-color: #F7F7F7;
}

h1, h2 {
	text-align: center;
}

img {
	padding: 10px;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;

}